@use '../variables';

.container {
  height: 48px;
}

.primary {
  background-color: variables.$violet;
  color: variables.$white;
  &:hover {
    background-color: variables.$light-violet;
  }
}

.secondary {
  background-color: rgba(variables.$violet, .15);
  color: variables.$violet;
  min-width: 147px;
  &:hover {
    background-color: rgba(variables.$violet, .3);
  }
}

.dark {
  background-color: variables.$very-dard-blue;
  color: variables.$white;
  &:hover {
    background-color: variables.$dark-gray;
  }
}