@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

h4 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}

.body {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.topbar {
  background-image: url('/assets/mobile/bg-pattern-header.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .topbar {
    background-image: url('/assets/tablet/bg-pattern-header.svg');
  }
}

@media screen and (min-width: 1024px) {
  .topbar {
    background-image: url('/assets/desktop/bg-pattern-header.svg');
  }
}
